<!DOCTYPE html>
<html ng-app="test">
<head>
  <title>Hello TypeScript</title>
  <style>
  body {
    -webkit-app-region: drag; /* ドラッグ可能に */
    /*-webkit-user-select: none;*/ /* ドラッグはテキスト選択と競合するので禁止 */

    font-size: 16px;
    color: #FFFFFF;
  }
</style>
<script src="../models/Script.js"></script>
</head>
<body>
  <h1>Hello TypeScript</h1>
  <input type="text" ng-model="name">
  <div>hello {{ name }}</div>
  <div ng-controller="stdout">
    <div>
      {{ data }}
    </div>
  </div>
</body>
</html>
